node_modules/
arbitraryDBCode
rutas-app/
.env

# Serverless directories
.serverless

.idea/
.vscode/
*.map
.DS_Store
.sourcemaps
prod.env
android/capacitor.settings.gradle
android/app/capacitor.build.gradle
dist
android/app/src/main/assets/public
android/capacitor.settings.gradle
android/app/capacitor.build.gradle
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
android/capacitor-cordova-android-plugins/build.gradle
android/capacitor-cordova-android-plugins/cordova.variables.gradle
android/capacitor-cordova-android-plugins/src/main/AndroidManifest.xml
android/capacitor-cordova-android-plugins/src/main/res/.gitkeep
