node_modules/
arbitraryDBCode
rutas-app/
.env

# Serverless directories
.serverless

.idea/
.vscode/
*.map
.DS_Store
.sourcemaps
prod.env
android/capacitor.settings.gradle
android/app/capacitor.build.gradle
dist
android/app/src/main/assets/public