#map {
  height: 100px;
  position: inherit !important;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdownContent {
  position: absolute;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  transform: translate(-50%, 0);

}

.dropdownItem {
  text-decoration: none;
  border-radius: 10px;
}

.dropdownItem:hover {
  text-decoration: none;
  background: #9ED6AD;
  color: black;
  transition: .7s;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.navbar {
  background-color: white;
  border-radius: 10px;
}


#dashboardContent {
  display: flex;
  align-items: flex-start;
}

#dashboardButtons {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

#allDashboardContent{
  display: flex;
  align-items: flex-start;
}

#searchFunction {
  display: flex;
  align-items: center;
}

/* .marginRight {
  margin-right: 2px;
} */

.marginLeft {
  margin-left: 120px;
}

.mini{
  display:none;
}

.buttonImage {
  /* height: 40px; */
  width: 22px;
  margin: 0 auto;
}

.modal{
  display: flex;
  flex-direction: column;
  top: 5%;
  left: 50%;
  position: absolute;
  /* outline: 1px solid black; */
  filter: drop-shadow(2px 2px 4px #d0d0d2);
  transform: translate(-50%, 0);
  background: white;
  text-align: left;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 10px;
  z-index: 5;
  min-width: 300px;
  max-width: 350px;
  margin-right: 10px;
  font-size: 10px;
}

h3 {
  font-size: 18px;
  text-transform: capitalize;
}

.error {
  color: red;
  font-size: small;
}

.floatRight{
  float: right;
}

.buttonCluster {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  /* margin-top: 10px; */
}

.functionalButton{
  background-color: #f5f5f5;
  color: #606060;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  min-width: 40px;
  border: none;
  padding: 5px;
  margin: 10px;
  font-family: 'Barlow', sans-serif;
}

.functionalButton:hover{
  background-color: #E9E9E9;
  color: #606060;
}

.closeButton {
  position: absolute; 
  cursor: pointer; 
  user-select: none; 
  right: 7px; 
  top: 7px;
  width: 30px; 
  height: 30px;
  line-height: 0px;
}

.normalCursor{
  cursor: default;
}

#addRouteLayout {

}

/* .buttonImage-gl {
  background-color: red;
  -webkit-mask: url(assets/globe.svg) no-repeat center;
  mask: url(assets/globe.svg) no-repeat center;
} */

input{
  border-radius: 5px;
}

.capitalize:first-letter {
  text-transform: capitalize;
}

.inputBox {
  height: 40px;
  background-color: #f5f5f5;
  border: none;
  padding-left: 10px;
  /* min-width: 300px; */
  color: #606060;
  margin-right: 10px;
}

.miniLabel {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 0px;
  text-align: left;
  color: #606060;

}

.giveMeSpace{
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 20px;
  line-height: 0px;
  background-color: #158C8C;
  color: #ffffff;
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
}
.giveMeSpace:hover {
  background-color: #0E6B6B;
  color: #ffffff;
}

.noPointers{
  pointer-events: none;
}

.minimize {
  display: inline;
}

.modalLogo{
  max-width: 40px;
  max-height: 40px;
}

#logoImage {
  display: flex;
  align-items: center;
}

#logo {
  /* padding-top: 10px; */
  width: 45px;
  height: 45px;
  padding-right: 10px;
}

#app {
  text-align: center;
  color: #2c3e50;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav {
  padding: 30px;
  
}

.router-link-exact-active a {
  color: #158C8C;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#floating-panel {
  position: absolute;
  top: 25px;
  left: 200px;
  z-index: 5;
  padding: 10px;
  border: none;
  text-align: left;
  font-family: "Barlow", "sans-serif";
  line-height: 30px;
  cursor: move;
  display: flex;
  flex-direction: column;
}

#goToLocationInput {
  height: 40px;
  background-color: #f5f5f5;
  border: none;
  padding-left: 10px;
  min-width: 300px;
  color: #606060;
  margin: 10px;
  text-transform: capitalize;
}


.form-control {
  height: 40px;
  background-color: #f5f5f5;
  border: none;
  padding-left: 10px;
  min-width: 250px;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.formItems {
  display: flex;
  /* justify-content: space-between;
  max-width: 80%; */
}

.formType {
  display: flex;
  align-items: center;
}

.inputLabel {
  margin-left: 4px;
  margin-right: 10px;
}

#warnings-panel {
  width: 100%;
  height: 10%;
  text-align: center;
}

#languageSelect {
  border: none;
  background-color: #f5f5f5;
}

.internalLink {
  color: #158C8C;
}


label {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  text-align: left;
  color: #606060;
}

.info {
  max-width: 80%;
  margin-bottom: 20px;
}

#goToLocationButton {
  /* line-height: 0px; */
  background-color: #158C8C;
  color: #ffffff;
}

#goToLocationButton:hover {
  background-color: #0E6B6B;
  color: #ffffff;
}


.dropdownItem {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownItem:hover {
  background-color: #E6E6E6!important;
}



p {
  font-size: 12px;
}


#infoPanel {
  text-align: left;
  padding: 15px;
}


#toLocationInfo {
  margin-bottom: 10px;
}

#fromLocationInfoReturn {
  margin-bottom: 10px;
}

#toLocationInfoReturn {
  margin-bottom: 10px;
}

#userName {
  align-items: center;
  color: #BAB9B9;
}


.likeImg {
  height: 10px;
  width: 10px;
}

.likeButton {
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  float: left
}

.editButton {
  border: none;
  background-color: white;
  border-radius: 4px;
  float: right;
}

.reviewInfo {
  width: 100%;
}

.editButton:hover {
  background-color: #a39dfb;
}

.likeButton:hover {
  background-color: #158C8C;
}

.dislikeButton:hover {
  background-color: #F05D20;
}

.active {
  background-color: #a39dfb;
}

.activeDislike {
  background-color: #F05D20;
}

#routeButtons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.outlineButton {
  border: 1px #158C8C solid;
  color: #158C8C;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  min-width: 40px;
  padding: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.2px;
  margin-right: 5px;
  font-family: 'Barlow', sans-serif;
}

.outlineButton:hover {
  background-color: #158C8C;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.outlineButtonTerciary {
  border: 1px #606060 solid;
  color: #606060;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  min-width: 40px;
  padding: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.2px;
  margin-right: 5px;
  font-family: 'Barlow', sans-serif;
}

.outlineButtonTerciary:hover {
  background-color: #606060;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.outlineButtonSecondary {
  border: 1px #F1BE3B solid;
  color: #F1BE3B;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  min-width: 40px;
  padding: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.2px;
  margin-right: 5px;
  font-family: 'Barlow', sans-serif;
}

.outlineButtonSecondary:hover {
  background-color: #F1BE3B;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  /* -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out; */
}

.filledButton {
  background-color: #158C8C;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  min-width: 40px;
  padding: 13px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2px;
  font-family: 'Barlow', sans-serif;
}

.filledButton:hover {
  background-color: #0E6B6B;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  /* -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out; */
}

.reviewInfo {
  float: left;
}

h2 {
  /* font-size: 24px; */
  /* line-height: 24px; */
  font-weight: 300;
  margin: 0;
}

.timeDisplay {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}


#outboundInfo {
  flex: 50%; 
  /* border-bottom: solid;  */
  margin-bottom: 25px;
}

#returnInfo {
  margin-bottom: 15px;
}

.popUpInfo {
  display: flex;
  background-color: #F5F5F5;
  padding: 10px;
}

.timetableItem {
  margin-right: 10px;
  font-size: 22px;
}

.gm-ui-hover-effect {
  width: 40px!important;
  height: 40px!important;
}


#profileButton {
  display: flex!important;
  align-items: center!important;
  text-transform: capitalize;
}

@media only screen and (max-width: 480px) {
  #floating-panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    /* height: 200px; */
    padding: 10px;
    border: none;
    text-align: left;
    line-height: 30px;
    display: flex;
    
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0;
  }

  #dashboardContent {
    /* flex-direction: column; */
    flex-direction: column-reverse;
  }

  #allDashboardContent {
    flex-direction: column;
  }

  .buttonCluster {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;
  }

  #goToLocationButton {
    margin-top: 10px;
  }

  #logo {
    margin-bottom: 10px;
  }

  #app {
    overflow: hidden;
  }

  #routeButtons {
    flex-direction: column;
  }
  .outlineButton {
    margin-bottom: 10px;

  }

  .formItems {
    flex-direction: column;
  }

  .filledButton {
    margin-bottom: 5px;
    width: 100%;
  }
  
  .dropdownContent {
    height: 40vh;
    min-width: 100%;
    transform: translate(0%, 0);
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 560px;
  }

  .dropdownItem {
    text-transform: uppercase;
    font-size: 36px;
    padding: 30px;
  }

  .modal {
    height: 100vh;
    min-width: 100vh;
    transform: translate(0%, 0);
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  p {
    font-size: 22px;
  }

  label {
    font-size: 18px;
  }
}