.modal{
  position:absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  display: inline-block;
  outline: 1px solid black;
  background: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 10px;
}

.error{
  color: red;
  font-size: small;
}

.functionalButton{
  background-color: #9ED6AD;
  border-radius: 5px;
  text-align: center;
}

.functionalButton:hover{
  background-color: #BBE2C6;
}

.closeButton{
  background: none; display: block; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; top: -6px; right: -6px; width: 30px; height: 30px;
}

input{
  border-radius: 5px;
}

.giveMeSpace{
  margin-top: 15px;
  margin-bottom: 10px;
}

.modalLogo{
  max-width: 40px;
  max-height: 40px;
}
